*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:  sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{  
    height: 200px;
    width: 500px;
    max-width: 400px;
    background-color: cornflowerblue;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}
#fields{
   height: 90px;
   width: 95%;
   background-color: aliceblue;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
#fields>div{
    height: 60px;
    width: 110px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color:black;
}
.dot{
    font-size: 55px;
    border-radius: 50%;
}
.play-pause{
   height: 60px;
   width: 95%;
   /* background-color: white; */
   display: flex;
   align-items: center;
   /* position: relative; */
   justify-content: space-around;
}
.play-pause button  {
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    /* background-color: bisque; */
    cursor: pointer;
      box-shadow: 0 0 10px 1px aliceblue;
      border-radius: 5px;
}
#play{
    height: 50px;
    width: 50px;
}
#play button{
    background-color:cornflowerblue;
}
#play-btn,#pause-btn{
    position: absolute;
}
#play-btn{
    display: none;
}
#stop-btn{
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 1px aliceblue;
    visibility: hidden;
}
#stop{
    height:30px;
    width: 30px;
    background-color:aliceblue;
}
#reset{
    color: white;
    font-size: 17px;
    background-color: cornflowerblue;
}